@{
    Layout = "_BackendLayout";
}

@model UserViewModel

<link href="~/Content/plugins/dropify/css/dropify.min.css" rel="stylesheet" />
<div class="page-inner">
    <div id="main-wrapper">
        <form asp-controller="RegUsers" asp-action="Add" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="pageheader pd-t-25 pd-b-35 ">
                <div class="pd-t-5 pd-b-5">
                    <h1 class="pd-0 mg-0 text-left">User</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="card mg-b-20">
                        <div class="collapse show" id="collapse6">

                            @if (TempData["Result"] != null)
                            {
                                <div class="alert alert-danger alert-bordered pd-y-15" role="alert" id="DivError">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true"><i class="ico icon-close"></i></span>
                                    </button>
                                    <div class="d-sm-flex align-items-center justify-content-start">
                                        <i class="icon ion-ios-close alert-icon tx-52 tx-danger mg-r-20"></i>
                                        <div class="mg-t-20 mg-sm-t-0">
                                            <h5 class="mg-b-2 mr-2 tx-danger" id="hErrorMessage">@TempData["Result"]</h5>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-xs clearfix">
                <div class="col-md-12 col-lg-12">
                    <div class="card mg-b-20">
                        <div class="card-header bg-primary">
                            <h4 class="card-header-title text-white">Add User </h4>
                            <div class="card-header-btn">
                                <a href="#" data-toggle="collapse" class="btn card-collapse" data-target="#collapse1" aria-expanded="true"><i class="ion-ios-arrow-down"></i></a>
                                <a href="#" data-toggle="refresh" class="btn card-refresh"><i class="ion-android-refresh"></i></a>
                                <a href="#" data-toggle="expand" class="btn card-expand"><i class="ion-android-expand"></i></a>
                                <a href="#" data-toggle="remove" class="btn card-remove"><i class="ion-android-close"></i></a>
                            </div>
                        </div>
                        <div class="card-body collapse show" id="collapse1">
                            <div class="form-layout form-layout-1">
                                <div class="row mg-b-25">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label asp-for="Email" class="form-control-label active"></label>
                                            <input type="text" asp-for="Email" class="form-control" required="" />
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label asp-for="Password" class="form-control-label active"></label>
                                            <input type="password" asp-for="Password" class="form-control" required="" />
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label asp-for="ConfirmPassword" class="form-control-label active"></label>
                                            <input type="password" asp-for="ConfirmPassword" class="form-control" required="" />
                                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                        </div>
                                    </div>

                                    @{
                                        var teams = ViewBag.Teams as List<TMS_V1.Models.Team>;
                                    }
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>Select Teams</label>
                                            <div>
                                                @if (teams != null)
                                                {
                                                    foreach (var team in teams)
                                                    {
                                                        <div class="form-check">
                                                            <input type="checkbox"
                                                                   name="TeamsId"
                                                                   value="@team.Id"
                                                                   id="team_@team.Id"
                                                                   class="form-check-input" />
                                                            <label class="form-check-label" asp-for="TeamsId">
                                                                @team.Name
                                                            </label>
                                                        </div>
                                                    }
                                                }
                                                <span asp-validation-for="TeamsId" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    



                                </div>
                                <div class="form-layout-footer">
                                    <input type="submit" value="Create" class="btn btn-custom-primary mt-sm-3" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(document).ready(function () {
            $('form').on('submit', function (e) {
                var isChecked = $('input[name="TeamsId"]:checked').length > 0;

                if (!isChecked) {
                    e.preventDefault(); // Prevent form submission
                    $('span[data-valmsg-for="TeamsId"]').text("Please select at least one team").show();
                } else {
                    $('span[data-valmsg-for="TeamsId"]').text("").hide();
                }
            });
        });
    </script>
}
